package common

import "github.com/cufee/shopping-list/internal/logic"
import "strings"

templ Text(content string, classes ...string) {
	<span class={ strings.Join(append(classes, logic.StringIfElse(strings.Contains(content, " "), "break-words", "break-all")), " ") }>
		{ content }
	</span>
}
